{% extends '@MetalProject/layouts/_login_layout.html.twig' %}

{% block title 'Восстановление пароля / '~currentCountry.domainTitle %}
{% block wrapper_additional_class '' %}

{% block content_inside %}
    <div class="main-title ">
        <h1>Восстановление пароля</h1>
    </div>

    <form action="{{ path('MetalUsersBundle:RecoveryPassword:confirmationRecover', {'id' : app.request.query.get('id'), 'code' : app.request.query.get('code')}) }}"
          data-success="redirect"
          data-redirect-location="{{ path('login') }}"
          class="register-form form js-ajax-form-submit"
          novalidate="novalidate"
          method="post">
        <fieldset>
            <div class="group clearfix">
                <div class="user-pwd-wrapper field-wrap float-left">
                    {{ form_widget(form.newPassword.first, {'attr' : {'class' : 'user-password form-text ie-radius', 'placeholder' : 'Пароль' } }) }}
                </div>

                <div class="user-pwd-wrapper-re field-wrap float-left">
                    {{ form_widget(form.newPassword.second, {'attr' : {'class' : 'user-password form-text ie-radius', 'placeholder' : '...еще раз' } }) }}
                </div>
            </div>

            <div class="register-btn-wrapper submit-wrapper">
                <input class="register-button button green-bg ie-radius" type="submit" value="Подтвердить" />
            </div>
        </fieldset>
        {{ form_rest(form) }}
    </form>
{% endblock %}