{% extends '@MetalProject/layouts/_portal_layout.html.twig' %}

{% block breadcrumbs_button %}
    <div class="add is-gradiented float-right js-collapsable-breadcrumbs-reserve">
        <a class="add-button product icon-add-btn" rel="nofollow"
           data-href="{{ brouzie_helper('MetalProjectBundle:Url').getRegisterAndAddProductsUrl() }}"
           href="{{ path('MetalUsersBundle:Registration:register') }}">Добавить товары</a>
    </div>
{% endblock breadcrumbs_button %}

{% block search_form %}
    {% set searchClass = 'product-search' %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs_widget %}
    {% if currentTerritory.getKind() != 'country' %}
        {% set subdomain = currentTerritory.getSlug() %}

        {% set breadcrumbsRoute = breadcrumbsRoute|default(project.suppliers_route_subdomain) %}
        {% set breadcrumbsHomepageRoute = 'MetalProjectBundle:Default:index_subdomain' %}
        {% set breadcrumbsRouteParams = {'subdomain' : subdomain } %}
    {% else %}
        {% set breadcrumbsRoute = breadcrumbsRoute|default(project.suppliers_route) %}
        {% set breadcrumbsHomepageRoute = 'MetalProjectBundle:Default:index' %}
        {% set breadcrumbsRouteParams = {} %}
    {% endif %}

    {{ brouzie_render_widget('MetalCategoriesBundle:Breadcrumbs', {
        'category': categoryForBreadcrumbs,
        'city' : currentCity,
        'region' : currentRegion,
        'country' : currentCountry,
        'counter_name': counterName|default(project.suppliers_menu_counter_name),
        'route': breadcrumbsRoute,
        'route_params': breadcrumbsRouteParams,
        'homepage_route': breadcrumbsHomepageRoute,
        'homepage_route_params': breadcrumbsRouteParams,
        'append_items': breadcrumbsAppendItems|default({})
    }) }}
{% endblock %}

{% block additional_popups %}
    {% set counterName = project.suppliers_menu_counter_name %}
    {{ parent() }}
{% endblock %}
