{% set popupId = 'change-password' %}

<div id="{{ popupId }}" class="change-password popup-block opacity-border large"
     data-popup-template="#{{ popupId }}-template"></div>

<script type="text/html" id="{{ popupId }}-template">
    <div class="popup-content">
        <div class="title-popup">Изменить пароль</div>
        <span class="close-popup icon-popup-close clickable js-popup-closer"></span>

        <form id="{{ popupId }}-form" class="popup-form filials-data form clearfix js-ajax-form-submit"
              data-success="close-popup"
              action="{{ path('MetalPrivateOfficeBundle:Account:changePassword') }}"
              method="POST"
              novalidate="novalidate">
            <fieldset>
                <div class="field-wrap">
                    {{ form_widget(form.oldPassword, {'attr' : {'class' : 'user-password form-text ie-radius', 'placeholder' : 'Текущий пароль' }}) }}
                </div>
                <div class="field-wrap">
                    {{ form_widget(form.newPassword.first, {'attr' : {'class' : 'user-password form-text ie-radius', 'placeholder' : 'Пароль'}} ) }}
                </div>
                <div class="field-wrap">
                    {{ form_widget(form.newPassword.second, {'attr' : {'class' : 'user-password form-text ie-radius', 'placeholder' : '...еще раз'}} ) }}
                </div>
                <div class="submit-wrapper">
                    <input class="popup-form_send-button send-button button blue-bg ie-radius" type="submit" value="Изменить"/>
                </div>
            </fieldset>
            {{ form_rest(form) }}
        </form>
    </div>
</script>
