{% extends '@MetalProject/layouts/_private_layout.html.twig' %}

{% block title 'Шапка / Мини-сайт / '~titleSuffix %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@MetalPrivateOfficeBundle/Resources/public/js/controllers/Company.js'
    '@MetalPrivateOfficeBundle/Resources/public/js/controllers/Cover.js'
    combine = true
    %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    {% set imageHelper = brouzie_helper('MetalProjectBundle:Image') %}
    {% set logo = null %}
    {% set companyLogoUrl = imageHelper.getCompanyLogoUrl(company, 'sq168', 'private') %}
    {% set branchOfficeCount = company.getBranchOffices()|length %}

    {% if companyLogoUrl %}
        {% set logo = {'url': companyLogoUrl, 'optimizeLogo': company.optimizeLogo} %}
    {% endif %}

    <div id="content" class="private-room-content content-right outline-right float-right" ng-controller="Metal.Core as coreController">
        <div class="private-scrollable content-scrollable js-scrollable">
            <div class="private-fix-width" ng-controller="Metal.Cover as coverController">
                {{ block('tabs') }}
                <div class="mini-site-content-wrapper mini-site">
                    <p class="text">Вы можете загрузить индивидуальную шапку для мини-сайта. Это выделит ваш сайт среди прочих. Сейчас шапка выглядит так:</p>
                    <div class="view-header-block company-announcement clearfix" ng-init='activeCover = {{ activeCover|json_encode|raw }}'>
                        <div class="loading-mask with-opacity-bg" ng-show="globalLoadingMask" ng-cloak>
                            <div class="spinner"></div>
                        </div>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             ng-if="activeCover"
                             ng-src="<%= activeCover.coverUrl %>"
                             class="company-img"
                        />
                        <div class="load-company-logo form company-logo float-left"
                              ng-controller="Metal.CompanyLogo as companyLogoController"
                              ng-init='companyLogoController.setOptions({{ {'deleteLogoUrl': path('MetalPrivateOfficeBundle:Company:deleteCompanyLogo')}|json_encode|raw }})'
                        >
                            <fieldset class="right-group"
                                      ng-init='logo = {{ logo|json_encode|raw }}'>
                                <div class="photo-wrapper">
                                    <span class="pattern-big">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             ng-if="logo"
                                             ng-src="<%= logo.url %>"
                                        />
                                    </span>
                                    <div class="loading-mask" ng-show="loadingLogo" ng-cloak>
                                        <div class="spinner"></div>
                                    </div>

                                    <div class="photo-btns-wrapper clearfix">
                                        <div class="add-photo-wrapper float-left">
                                            <label class="file-upload with-icon" ng-if="logo">
                                                <span class="photo link ico-upload" ng-click='companyLogoController.popups.open({"popup": "#upload-company-logo-popup", "data": {"editablePhoto": logo}}, $event.currentTarget)'></span>
                                            </label>
                                            <label class="file-upload" ng-if="!logo">
                                                <span class="load-btn button blue-bg ie-radius" ng-show="!logo" ng-click='companyLogoController.popups.open({"popup": "#upload-company-logo-popup"}, $event.currentTarget)'>Загрузить логотип</span>
                                            </label>
                                        </div>
                                        <span class="del-btn float-left ico-delete-btn"
                                              ng-if="logo"
                                              ng-click="coreController.confirm('Вы действительно хотите удалить логотип?', companyLogoController.deleteLogo)"
                                        ></span>
                                    </div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="company-info-wrapper float-left">
                            <a class="admin-button button gray60-bg float-right ie-radius" href="{{ path('MetalPrivateOfficeBundle:Company:edit') }}">изменить</a>
                            <div class="heading">
                                <div class="company-name">{{ company.title }}</div>
                                <span>{{ company.slogan }}</span>
                            </div>
                            <div class="address-phone-wrapper">
                                <p class="company-phone">{{ company.phonesAsString }}</p>
                                {% if branchOfficeCount >= 5 %}
                                    <p class="company-address">
                                        <a href="{{ brouzie_helper('MetalProjectBundle:Url').generateUrl('MetalMiniSiteBundle:MiniSite:contact', {'domain' : company.domain, '_secure' : company.packageChecker.isHttpsAvailable()}) }}" class="link" target="_blank">
                                            {{ branchOfficeCount }} {{ 'branch_office'|transchoice(branchOfficeCount, [], 'MetalCompaniesBundle') }}
                                        </a>
                                    </p>
                                {% else %}
                                    <p class="company-address">{{ company.city.title }}{% if company.address %}, <a href="{{ brouzie_helper('MetalProjectBundle:Url').generateUrl('MetalMiniSiteBundle:MiniSite:contact', {'domain' : company.domain, '_secure' : company.packageChecker.isHttpsAvailable()}) }}" class="link" target="_blank">{{ company.address }}</a>{% endif %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="header-imgs">
                        <form class="headers-form form"
                              action="{{ path('MetalPrivateOfficeBundle:MiniSite:uploadCover') }}"
                              data-file-upload="coverOptions"
                              data-ajax-form="coverAjaxFormOptions"
                              ng-init='minisiteCovers.addAll({{ minisiteCovers|json_encode|raw }})'
                              enctype="multipart/form-data"
                              method="post"
                              novalidate="novalidate">
                            <p class="text">Вы можете выбрать из имеющихся вариантов, или загрузить собственную</p>
                            <ul class="header-list clearfix">
                                <li ng-repeat="cover in minisiteCovers.all()" ng-class="{current: activeCover && activeCover.id == cover.id}" class="item float-left" >
                                        {% if company.packageChecker.isAllowedSetHeader() %}
                                            <span ng-click="coverController.setActiveCover(cover)" class="img-wrapper clickable">
                                                <img ng-src="<%= cover.coverThumbUrl %>"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     alt="" class="img-wrapper"/>
                                            </span>
                                        {% else %}
                                            <span class="img-wrapper clickable js-popup-opener" data-popup="#complete-package">
                                                <img ng-src="<%= cover.coverThumbUrl %>"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     alt="" class="img-wrapper"/>
                                            </span>
                                        {% endif %}
                                </li>
                            </ul>
                            <p class="text">Размер картинки должен быть не менее 1008 пикселей в ширину и 192 в высоту.</p>
                            <div class="submit-wrapper">
                                <label class="file-upload float-left">
                                    <span class="load-btn button blue-bg ie-radius">
                                        загрузить
                                        <div class="loading-mask" ng-show="loadingCover" ng-cloak>
                                            <div class="spinner"></div>
                                        </div>
                                    </span>
                                    {{ form_widget(formCover.uploadedFile) }}
                                </label>
                            </div>
                            {{ form_rest(formCover) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block additional_popups %}
    {{ parent() }}
    {{ brouzie_render_widget('MetalPrivateOfficeBundle:UploadCompanyLogo')}}
    {{ brouzie_render_widget('MetalPrivateOfficeBundle:CompletePackage', {'text': 'Расширенный и полный пакеты дают возможность установить уникальную шапку для Вашего сайта и многое другое.'}) }}
{% endblock %}
