{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.company %}
            <div>
                {% if object.company.deletedAtTS %}
                    <strike>{{ object.company.title }}</strike>
                {% else %}
                    {{ object.company.title }}
                {% endif %}
                (<b><a href="{{ path('admin_metal_companies_company_list', {'filter': {'id': {'value': object.company.id}}}) }}">{{ object.company.id }}</a></b>)
                {{ include('MetalProjectBundle:Admin:stars.html.twig', {'object' : object.company}, false) }}
            </div>
        {% elseif object.companyTitle is defined %}
            {{ object.companyTitle }}
        {% endif %}
    </div>
{% endblock %}
