{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Мисс Металлургия 2013{% endblock %}

{% block body_text %}
Уважаемые металлурги!

Станьте спонсором конкурса "Мисс Металлургия 2013" и получите привилегии спонсора:
пиар-кампанию в рамках конкурса и ежегодной выставки "Металл-Экспо 2013", а также полный пакет услуг портала "Металлопрокат.ру" на срок от 6 месяцев.

По всем вопросам вас может проконсультировать Татьяна Бородачева по телефону
(495) 268-02-85, доб.115.

О конкурсе "Мисс Металлургия 2013":

Генеральный спонсор СтальИнтекс http://www.stalintex.ru
Официальный спонсор Артметалл http://www.ametall.ru
Спонсоры:
    РусМет http://1rusmet.ru
    Царский осетр http://www.imperial-sturgeon.ru
    ЛидерМетСнаб http://www.lidermetsnab.ru
    Апогей Металл http://www.apogey.com
    Пром-Арсенал http://prom-arsenal.ru/
    Russian Travel Service http://www.rts-tour.ru/
Спонсоры хорошего настроения:
    Конфаэль http://confael.ru
    Фламинго http://www.flamingo.ru

Присоединяйтесь! http://www.missmetal.ru
{% endblock %}

{% block text_part_header %}
Уважаемые металлурги!
{% endblock %}

{% block text_part_body %}
    <p style="font-size: 12px;">
        Станьте спонсором конкурса "Мисс Металлургия 2013" и получите привилегии спонсора:
        пиар-кампанию в рамках конкурса и ежегодной выставки "Металл-Экспо 2013", а также полный пакет услуг портала "Металлопрокат.ру" на срок от 6 месяцев.
    </p>

    <p style="font-size: 12px;">
        По всем вопросам вас может проконсультировать Татьяна Бородачева по телефону
        (495) 268-02-85, доб.115.
    </p>

    <p style="font-size: 12px;">
        О конкурсе "Мисс Металлургия 2013":
    </p>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
        <tr>
            <td style="width: 40%; vertical-align: middle; font-size: 12px;"><br/>Организатор<br/><b>Металлопрокат.ру</b></td>

            <td style="width: 10%; padding-right: 15px;"><br/>
                <a href="http://www.metalloprokat.ru"><img height="45px" style="margin-left: -5px;" src="{{ email_images_base_url~'/missmetall/prokat.png' }}"></a></td>

            <td style="width: 40%; padding-left: 10px; vertical-align: middle; font-size: 12px;"><br/>При поддерже<br/><b>Металл-Экспо 2013</b></td>

            <td style="width: 10%"><br/><a href="http://www.metal-expo.ru"><img height="45px" width="45px" src="{{ email_images_base_url~'/missmetall/metal-expo.png' }}"></a></td>
        </tr>
        <tr>
            <td style="width: 40%; vertical-align: middle; font-size: 12px;"><br/>Генеральный информ. партнер<br/><b>Металлоснабжение и сбыт</b></td>
            <td style="width: 10%; padding-right: 15px;"><br/>
                <a href="http://www.metalinfo.ru"><img height="45px" style="margin-left: -5px;" src="{{ email_images_base_url~'/missmetall/mss-transparent-small.png' }}"></a></td>
            <td style="width: 40%; padding-left: 10px; vertical-align: middle; font-size: 12px;"><br/>Информационный партнер<br/><b>Вечерняя Москва</b></td>
            <td style="width: 10%;"><br/><a href="http://vmdaily.ru"><img width="79px" src="{{ email_images_base_url~'/missmetall/vm.png' }}"></a></td>
        </tr>
    </table>
    <br/>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
        <tr>
            <td align="left" valign="top" style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                Генеральный спонсор
            </td>
            <td style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">Официальный спонсор</td>
        </tr>
        <tr>
            <td style="width: 50%;">
                <br/>
                <a href="http://www.stalintex.ru/"><img height="45px" src="{{ email_images_base_url~'/missmetall/stalinteksx70.png' }}" alt="СтальИнтекс" title="СтальИнтекс" /></a>
                <br/>
                СтальИнтекс
                <br/>
                <a style="font-size: 12px;" href="http://www.stalintex.ru/">stalintex.ru</a>
                <br/>
                <br/>
            </td>
            <td style="width: 50%;">
                <br/>
                <a href="http://www.ametall.ru/"><img height="45px" src="{{ email_images_base_url~'/missmetall/artmetallx70.jpg' }}" alt="Артметалл" title="Артметалл" /></a>
                <br/>
                Артметалл
                <br/>
                <a style="font-size: 12px;" href="http://www.ametall.ru/">ametall.ru</a>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                Спонсоры
            </td>
            <td style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;"></td>
        </tr>
        <tr>
            <td style="width: 50%;">
                <br/>
                <a href="http://1rusmet.ru/"><img height="45px" src="{{ email_images_base_url~'/missmetall/rusmetx70.png' }}" alt="РусМет" title="РусМет" /></a>
                <br/>
                РусМет
                <br />
                <a style="font-size: 12px;" href="http://1rusmet.ru/">1rusmet.ru</a>
                <br /><br />
            </td>
            <td style="width: 50%;">
                <a href="http://www.imperial-sturgeon.ru"><img height="45px" src="{{ email_images_base_url~'/missmetall/imperial-sturgeon.png' }}" alt="Царский осетр" title="Царский осетр" /></a>
                <br />
                Царский осетр
                <br />
                <a style="font-size: 12px;" href="http://www.imperial-sturgeon.ru">imperial-sturgeon.ru</a>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td style="width: 50%;">
                <a href="http://www.lidermetsnab.ru/"><img height="45px" src="{{ email_images_base_url~'/missmetall/lmsx70.png' }}" alt="ЛидерМетСнаб" title="ЛидерМетСнаб" /></a>
                <br />
                ЛидерМетСнаб
                <br />
                <a style="font-size: 12px;" href="http://www.lidermetsnab.ru/">lidermetsnab.ru</a>
                <br /><br />
            </td>
            <td style="width: 50%;">
                <a href="http://www.apogey.com/"><img height="45px" src="{{ email_images_base_url~'/missmetall/apogey-transparentx70.png' }}" alt="Апогей Металл" title="Апогей Металл" /></a>
                <br />
                Апогей Металл
                <br />
                <a style="font-size: 12px;" href="http://www.apogey.com/">apogey.com</a>
                <br/>
                <br/>
            </td>
        </tr>

        <tr>
            <td style="width: 50%;">
                <a href="http://www.lidermetsnab.ru/"><img height="45px" src="{{ email_images_base_url~'/missmetall/promarsenal-logo.png' }}" alt="Пром-Арсенал" title="Пром-Арсенал" /></a>
                <br />
                Пром-Арсенал
                <br />
                <a style="font-size: 12px;" href="http://prom-arsenal.ru/">prom-arsenal.ru</a>
                <br /><br />
            </td>
            <td style="width: 50%;">
                <a href="http://www.apogey.com/"><img height="45px" src="{{ email_images_base_url~'/missmetall/rtsx70.png' }}" alt="Russian Travel Service" title="Russian Travel Service" /></a>
                <br />
                Russian Travel Service
                <br />
                <a style="font-size: 12px;" href="http://www.rts-tour.ru/">rts-tour.ru</a>
                <br/>
                <br/>
            </td>
        </tr>

        <tr>
            <td align="left" valign="top" style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                Спонсоры хорошего настроения
            </td>
            <td style="align='left'; background-color: #F2F0ED; padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;"></td>
        </tr>
        <tr>
            <td>
                <br/>
                <a href="http://confael.ru/"><img src="{{ email_images_base_url~'/missmetall/konf.gif' }}" alt="Конфаэль" title="Конфаэль" /></a>
                <br />
                Конфаэль
                <br />
                <a style="font-size: 12px;" href="http://confael.ru/">confael.ru</a>
                <br /><br />

            </td>
            <td>
                <br/>
                <a href="http://www.flamingo.ru/"><img src="{{ email_images_base_url~'/missmetall/flamingox70.png' }}" alt="Фламинго" title="Фламинго" /></a>
                <br />
                Фламинго
                <br />
                <a style="font-size: 12px;" href="http://www.flamingo.ru/">flamingo.ru</a>
                <br /><br />
            </td>
        </tr>
    </table>
    <p style="font-size: 12px;" ><a href="http://www.missmetal.ru"">Присоединяйтесь!</a></p>
{% endblock %}

{% block date_period '18 сентября 2013' %}

{% block user_agreement '' %}
