{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Разместите свои товары на {{ project.title }}{% endblock %}

{% block body_text -%}
{% set routeParameters = {'from': 'email'} %}
{% if userAutoLogin is defined %}
{% set routeParameters = routeParameters|merge({'_al': userAutoLogin.token}) %}
{% endif %}
Добрый день{% if user.firstName %}, {{ user.firstName }}{% endif %}!

{% if user.newPassword %}
Вы зарегистрированы на портале {{ project.title }}, но не проявляете активность для привлечения клиентов.
{% endif %}
Привлекайте больше клиентов с помощью сервисов портала {{ url('MetalProjectBundle:Default:index', routeParameters)|raw }}
  — Обновите информацию о компании
  — Обновите/добавьте товары

Это можно сделать в личном кабинете ({{ url('MetalPrivateOfficeBundle:Default:index', routeParameters)|raw }})

{% if user.email %}
Также напоминаем Ваш логин для входа в Личный Кабинет: {{ user.email }}
{% endif %}
{% if user.newPassword %}
Ваш пароль: {{ user.newPassword }}
{% endif %}

По любым вопросам пишите:
{{ url('MetalCorpsiteBundle:Default:contacts', routeParameters)|raw }}
или звоните:
+7 495 268-02-85

С уважением, {{ project.title }}
{{ url('MetalProjectBundle:Default:index', routeParameters)|raw }}

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    {% set routeParameters = {'from': 'email'} %}
    {% if userAutoLogin is defined %}
        {% set routeParameters = routeParameters|merge({'_al': userAutoLogin.token}) %}
    {% endif %}
    <p style="font-size: 12px;">
        Добрый день{% if user.firstName %}, {{ user.firstName }}{% endif %}!<br/>
        <br/>
        {% if user.newPassword %}
            Вы зарегистрированы на портале {{ project.title }}, но не проявляете активность для привлечения клиентов.<br/>
        {% endif %}
        Привлекайте больше клиентов с помощью сервисов портала <a href="{{ url('MetalProjectBundle:Default:index', routeParameters) }}">{{ project.title }}</a>.
       <br />

    <ul>
        <li>Обновите информацию о компании</li>
        <li>Обновите/добавьте товары</li>
    </ul>

    Это можно сделать в <a href="{{ url('MetalPrivateOfficeBundle:Default:index', routeParameters) }}">личном кабинете</a><br />

    {% if user.email %}
        <br />
        Также напоминаем Ваш логин для входа в Личный Кабинет: {{ user.email }}<br />
    {% endif %}
    {% if user.newPassword %}
        Ваш пароль: {{ user.newPassword }}<br/>
    {% endif %}
    <br />
    По любым вопросам пишите - <a href="{{ url('MetalCorpsiteBundle:Default:contacts', routeParameters) }}">{{ project.title }}</a>

    или звоните:

    +7 495 268-02-85

    <br />
    <br />
    С уважением,
    <a href="{{ url('MetalProjectBundle:Default:index', routeParameters) }}">{{ project.title }}</a>
    </p>
{% endblock %}
