{% set textHelper = brouzie_helper('MetalProjectBundle:Text') %}
<li class="view-product item">
    <div class="all-product-holder clearfix">
        <div class="product-logo is-bordered float-left">
            {% set topicViewUrl = path('MetalContentBundle:Topic:view', {'id' : topic.id, 'category_slug' : topic.category.slugCombined}) %}
            <a class="img-link {% if not topic.image.name %}pattern-small{% endif %}" data-href="{{ topicViewUrl }}">
                {% if topic.image.name %}
                    <img src="{{ vich_uploader_asset(topic, 'uploadedImage')|imagine_filter('topics_sq136_non_optim') }}"
                         alt="{{ topic.title }}"
                         title="{{ topic.title }}" />
                {% endif %}
            </a>
        </div>

        <div class="holder">
            <div class="top-block">
                <div class="creation-info gray60-color">
                    <span class="date icon-clock">{{ formatHelper.formatDate(topic.createdAt) }}</span>,
                    {% if topic.user %}
                        <span class="user-name link js-popup-opener clickable"
                              data-popup="#user-info"
                              data-ajax-content="{{ path('MetalContentBundle:UserContentCategory:loadInfo', {'id' : topic.user.id}) }}"
                        >{{ topic.user.fullName }}</span>
                    {% else %}
                        <span class="user-name link">
                            {{ topic.name }}
                        </span>
                    {% endif %}

                </div>
                <div class="title">
                    <a href="{{ topicViewUrl }}"
                       class="is-gradiented-bottom">{{ topic.title }}</a>
                </div>
                <div class="categories gray60-color">
                    {% set category = topic.category %}
                    {% set categorySecondary = topic.categorySecondary %}
                    <span>Раздел: </span>
                    {%- if category.parent -%}
                        <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : category.parent.slugCombined}) }}">{{- category.parent.title -}}</a> /
                    {%- endif %}
                    <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : category.slugCombined}) }}">{{- category.title -}}</a>.
                    <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : category.parent ? category.parent.slugCombined : category.slugCombined, 'subject' : topic.subjectTypeId}) }}">{{ topic.subjectType.title }}</a>.<br />
                    {%- if categorySecondary and category.id != categorySecondary.id -%}
                        {% if categorySecondary.parent -%}
                            <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : categorySecondary.parent.slugCombined}) }}">{{ categorySecondary.parent.title -}}</a> /
                        {%- endif %}
                        <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : categorySecondary.slugCombined}) }}">{{- categorySecondary.title -}}</a>.
                        <a href="{{ path('MetalContentBundle:Topics:list', {'category_slug' : categorySecondary.parent ? categorySecondary.parent.slugCombined : categorySecondary.slugCombined, 'subject' : topic.subjectTypeId}) }}">{{ topic.subjectType.title }}</a>.
                    {%- endif -%}
                </div>

                {% if topic.getAttribute('content_tags') %}
                    <div class="tags icon-clip gray60-color">
                        <span>Метки: </span>
                        {% for tag in topic.getAttribute('content_tags') %}
                            <a
                            href="{{ path('MetalContentBundle:Tag:view', {'id' : tag.id}) }}">{{ tag.title }}</a>{% if loop.last %}.{% else %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if showType %}
                    <div class="categories gray60-color">
                        <span>Тип: </span>
                        <span class="black15-color">Публикация</span>
                    </div>
                {% endif %}
                <p class="description gray60-color is-gradiented-bottom">
                    {{ textHelper.formatDescription(topic.shortDescription)|striptags('<p><img><a><b><i>')|raw }}
                </p>
            </div>
            <ul class="links clearfix">
                <li class="links_answer item width-181 float-left clearfix">
                    <a class="button answer is-bordered green-bg ie-radius"
                       data-href="{{ path('MetalContentBundle:Topic:view', {'id' : topic.id, 'category_slug' : topic.category.slugCombined, 'show-popup': 1}) }}">
                        <span class="text">Комментировать</span>
                        <span class="icon-back float-right"></span>
                    </a>

                </li>
                {% if topic.attribute('comments_count') %}
                    <li class="links_read-answers item default-width float-left clearfix">
                        <a class="button is-bordered ie-radius"
                           href="{{ path('MetalContentBundle:Topic:view', {'id' : topic.id, 'category_slug' : topic.category.slugCombined}) }}#comments-tab">
                            <span class="text">Читать комментарии</span>
                            <strong class="count gray80-color">{{ topic.attribute('comments_count') }}</strong>
                            <span class="read-answers icon-back float-right"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
