{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %} УСПЕЙ ПОДКЛЮЧИТЬ РАЗМЕЩЕНИЕ ПО ВСЕЙ РОССИИ ПО СТАРЫМ ЦЕНАМ {% endblock subject %}


{% block body_text -%}

Уважаемые Господа,

    Только до 31.08.2017 ПОДКЛЮЧЕНИЕ ПАКЕТА "ПОЛНЫЙ +" С РАЗМЕЩЕНИЕМ ПО ВСЕЙ РОССИИ ПО СТАРОЙ СТОИМОСТИ:

    3 мес. - 38 000 Полный доступ +
    6 мес. - 67 000 руб. Полный доступ +
    12 мес. -104 000 руб. Полный доступ +

    С 01.09.2017г. ПОДКЛЮЧЕНИЕ ПАКЕТА "ПОЛНЫЙ +" С РАЗМЕЩЕНИЕМ ПО ВСЕЙ РОССИИ :
    3 мес. - 50 000 руб. Полный доступ +
    6 мес. - 82 000 руб. Полный доступ +
    12 мес. -130 000 руб. Полный доступ +


    Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:
http://corp.metalloprokat.ru/media/

По любым вопросам пишите:
http://corp.metalloprokat.ru/contacts
или звоните:
+7 495 268-02-85


С уважением,
{{ user.country.domainTitle }}
http://www.{{ user.country.baseHost }}

{{ block('text_footer') }}
{%- endblock body_text %}

{% block text_part_body %}
    <p style="font-size: 12;">
        Уважаемые Господа,
        <br/>
        <br/>

        Только до 31.08.2017 ПОДКЛЮЧЕНИЕ ПАКЕТА "ПОЛНЫЙ +" С РАЗМЕЩЕНИЕМ ПО ВСЕЙ РОССИИ ПО СТАРОЙ СТОИМОСТИ:<br/><br/>
        
        3 мес. - 38 000 Полный доступ +<br/>
        6 мес. - 67 000 руб. Полный доступ +<br/>
        12 мес. -104 000 руб. Полный доступ +<br/>

        <br/><br/>
        С 01.09.2017г. ПОДКЛЮЧЕНИЕ ПАКЕТА "ПОЛНЫЙ +" С РАЗМЕЩЕНИЕМ ПО ВСЕЙ РОССИИ :<br/><br/>
        3 мес. - 50 000 руб. Полный доступ +<br/>
        6 мес. - 82 000 руб. Полный доступ +<br/>
        12 мес. -130 000 руб. Полный доступ +<br/>

        <br/><br/>
        Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:<br/>
        <a href="http://corp.metalloprokat.ru/media/">http://corp.metalloprokat.ru/media/</a>

        <br/><br/>
        По любым вопросам пишите - <a href="http://corp.metalloprokat.ru/contacts">http://corp.metalloprokat.ru/contacts</a>

        или звоните:

        +7 495 268-02-85

        <br /><br />
        С уважением,
        <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a>
    </p>
{% endblock text_part_body %}