{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}С наступающим Новым Годом и Рождеством - Металлопрокат.ру!{% endblock subject %}

{% block body_text -%}
    Уважаемые наши партнеры!
    Желаем вам крепкого-крепкого здоровья!
    Крепче коньяка на вашем столе в сто раз!
    Пусть ваши клиенты останутся вам верными, и желаем вам обзавестись новыми надежными партнерами!
    Пусть прибыль станет девизом 2018 года для вас!
    Взаимопонимания, любви и мира вашим семьям!

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Желаем вам крепкого-крепкого здоровья! </p>
    <p>Крепче коньяка на вашем столе в сто раз!</p>
    <p>Пусть ваши клиенты останутся вам верными, и желаем вам обзавестись новыми надежными партнерами!</p>
    <p>Пусть прибыль станет девизом 2018 года для вас!</p>
    <p>Взаимопонимания, любви и мира вашим семьям!</p>

    <img align="center" src="{{ new_year_card }}">

    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>

    {% if hashKey is defined %}
        <img src="{{- url('MetalNewsletterBundle:NewsletterViewer:track', {
            'hashKey': hashKey
        } ) -}}" />
    {% endif %}
{% endblock %}
