{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Осталось 10 дней до конца акции "скидка 50% на год от Metalloprokat.ru"{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год на специальных условиях:
Расширенный 61 000 руб. 30 500 руб. или Полный 74 000 руб. 37 000 руб.

Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.

Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».

Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.

– Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год на специальных условиях:</p>
    <p>
        Расширенный <strike>61 000 руб.</strike> 30 500 руб. или Полный <strike>74 000 руб.</strike> 37 000 руб.
    </p>
    <p>
        <img align="left" src="{{ attach_image_src_1 }}">
        Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.
    </p>
    <p>
        <img align="left" src="{{ attach_image_src_3 }}">
        Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».
    </p>
    <p>
        <img align="left" src="{{ attach_image_src_2 }}">
        Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.
    </p>
    <p>
        <img align="left" src="{{ attach_image_src_4 }}">
        – Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений
    </p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
