{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Повышение расценок на подключение к Metalloprokat.ru__c апреля 2016г.{% endblock subject %}


{% block body_text -%}

Уважаемые Господа,

До 31.03.2016г. Вы можете подключиться к порталу на прежних условиях.
Со следующего месяца наши расценки повышаются.

До 31.03.2016 года стоимость подключения к Metalloprokat.ru составляет:

Расширенный доступ:
1 год = 56 тыс. руб. + 1 мес. бонуса или 1 месяц размещения баннера
6 мес. = 34 тыс. руб.
3 мес. = 20 тыс. руб.
1 мес. = 9 тыс. руб.

Полный доступ:
1 год = 67 тыс. руб. + 2 мес. бонуса или 2 месяца размещения баннера
6 мес. = 41 тыс. руб.
3 мес. = 24 тыс. руб.

Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:
http://corp.metalloprokat.ru/media/

По любым вопросам пишите:
http://corp.metalloprokat.ru/contacts
или звоните:
+7 495 268-02-85


С уважением,
{{ user.country.domainTitle }}
http://www.{{ user.country.baseHost }}

{{ block('text_footer') }}
{%- endblock body_text %}

{% block text_part_body %}
    <p style="font-size: 12;">
        Уважаемые Господа,
        <br/>
        <br/>

        До 31.03.2016г. Вы можете подключиться к порталу на прежних условиях.
        Со следующего месяца наши расценки повышаются.<br/><br/>

        До 31.03.2016 года стоимость подключения к Metalloprokat.ru составляет:<br/><br/>

        Расширенный доступ:<br/>
        1 год = 56 тыс. руб. + 1 мес. бонуса или 1 месяц размещения баннера<br/>
        6 мес. = 34 тыс. руб.<br/>
        3 мес. = 20 тыс. руб.<br/>
        1 мес. = 9 тыс. руб.<br/><br/>

        Полный доступ:<br/>
        1 год = 67 тыс. руб. + 2 мес. бонуса или 2 месяца размещения баннера<br/>
        6 мес. = 41 тыс. руб.<br/>
        3 мес. = 24 тыс. руб.<br/><br/>

        Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:<br/>
        <a href="http://corp.metalloprokat.ru/media/">http://corp.metalloprokat.ru/media/</a>

        <br/><br/>
        По любым вопросам пишите - <a href="http://corp.metalloprokat.ru/contacts">http://corp.metalloprokat.ru/contacts</a>

        или звоните:

        +7 495 268-02-85

        <br /><br />
        С уважением,
        <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a>
    </p>
{% endblock text_part_body %}