{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Смена пароля{% endblock %}

{% block body_text -%}
{% set serviceHelper = brouzie_helper('MetalServicesBundle:Default') %}
Добрый день{% if user.firstName %}, {{ user.firstName }}{% endif %}!
Ваш пароль был изменен!

{% if user.newPassword %}Запомните Ваш пароль: {{ user.newPassword }}{% endif %}

С уважением,
{{ user.country.domainTitle }}
http://www.{{ user.country.baseHost }}
{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
<p style="font-size: 12;">
    Добрый день{% if user.firstName %}, {{ user.firstName }}{% endif %}!<br />
    Ваш пароль был изменен!
    <br /><br />
    {% if user.newPassword %}
        Запомните Ваш пароль: {{ user.newPassword }}
        <br /><br />
    {% endif %}
    С уважением,
    <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a>
</p>
{% endblock %}
