{% extends '@markup/_base_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="./markup/css/corporate.css" type="text/css"/>
    <link rel="stylesheet" href="./markup/css/style-corporate.css" type="text/css"/>

{% endblock stylesheets %}

{% block body_additional_class 'corporate' %}
{% block body %}
    <div class="container">
        <div class="inside-container">
            <div id="header" class="corporate-header clearfix">
                <div class="wrap clearfix">
                    {% block header %}
                        <div class="left float-left">
                            <div class="logo float-left">
                                <a href="/">
                                    <img src="./markup/img/logo.png" width="36" height="27" alt="металлопрокат.ру"/>
                                </a>
                            </div>
                            <div class="logo-text float-left">
                                <p>
                                    <a class="header-logo-text" href="#">металлопрокат.ру</a>
                                </p>
                            </div>
                        </div>
                        {% block header_menu %}
                            {% set defaultActiveMenu = 'about' %}
                            <div class="corporate-menu float-left">
                            	<input type="checkbox" id="open-menu" class="open-check">
                                <div class="hold-toogle">
                                    <label for="open-menu" class="toogle-menu">
                                        <span class="t"></span>
                                        <span class="c"></span>
                                        <span class="b"></span>
                                    </label>
                                </div>
                                    <div class="menu-holder">
                                        <label for="open-menu" class="close-menu">Меню</label>
										<ul id="menu" class="menu">
											<li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'about') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/about.html.twig') }}">О компании</a>
		                                    </li>
		                                    <li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'media') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/announcements.html.twig') }}">Медийная реклама</a>
		                                    </li>
		                                    <li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'services') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/services.html.twig') }}">Услуги</a>
		                                    </li>
		                                    <li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'clients') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/clients.html.twig') }}">Клиенты</a>
		                                    </li>
		                                    <li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'reviews') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/reviews.html.twig') }}">Отзывы</a>
		                                    </li>
		                                    <li class="item float-left {% if (activeMenu|default(defaultActiveMenu) == 'contacts') %} active {% endif %}">
		                                        <a class="link ie-radius" href="{{ path('corporate/contacts.html.twig') }}">Контакты</a>
		                                    </li>
										</ul>
									</div>
									<label for="open-menu" class="overlay"></label>
                                    <div class="nav-overlay">&nbsp;</div>

                            </div>
                        {% endblock header_menu %}

                    {% endblock %}
                </div>
            </div>
            <div id="main" class="clearfix">
                <div class="wrap clearfix">
                    <div class="wrapper outline clearfix">
                        {% block content '' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer-content wrap">
            {% block footer %}
                <div class="footer-links-wrapper">
                    <div class="footer-links">
                        <div class="footer-title">Информация на сайте</div>
                        <ul class="footer-links-list">
                            <li class="item"><a href="#">Компании</a></li>
                            <li class="item"><a href="#">Отзывы</a></li>
                            <li class="item"><a href="#">Товары</a></li>
                            <li class="item"><a href="#">Потребности</a></li>
                            <li class="item"><a href="#">Последние обновления</a></li>
                            <li class="item"><a href="#" class="green-color">Добавить компанию и товары</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="footer-links-list last">
                    <li class="item">
                        <p class="copy">Металлопрокат.ру © 2000-2013</p>
                    </li>
                    <li class="item">
                        <a class="agreement" href="#" target="_blank">Пользовательское соглашение</a>
                    </li>
                </ul>
                <div class="counters-block clearfix">
                    <a href="#" class="rspm-member float-left">Действительный член РСПМ</a>
                    <div class="counter-container float-right">
                        <img src="./markup/pic/counter1.png" width="80" height="31" alt="image description"/>
                        <img src="./markup/pic/counter2.png" width="88" height="31" alt="image description"/>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    {% include '@markup/_popups.html.twig' %}
{% endblock %}