{% extends 'MetalContentBundle::_content_layout.html.twig' %}
{% set contentSeoHelper = brouzie_helper('MetalContentBundle:Seo') %}
{% set formatHelper = brouzie_helper('MetalProjectBundle:Formatting') %}
{% set textHelper = brouzie_helper('MetalProjectBundle:Text') %}

{% block title %}
    {{ question.pageTitle ?: question.title }}
{% endblock %}

{% block meta_description %}
    {{ question.shortDescription }}
{% endblock %}

{% block canonical_url %}
    {{ brouzie_helper('MetalContentBundle:Seo').getCanonicalUrlForContentEntryView() }}
{% endblock %}

{% set tags = question.getAttribute('content_tags') %}

{% block breadcrumbs %}
    {% set breadcrumbsAppendItems = brouzie_helper('MetalContentBundle:Breadcrumbs').getBreadcrumbsForContentEntry(question) %}
    {% set breadcrumbsRoute = 'MetalContentBundle:Questions:list' %}

    {{ parent() }}
{% endblock %}

{% block inside_left %}
    <div class="inside-page js-calc-height">
        <div class="product-info-wrapper clearfix">
            <div class="product-info">
                <div class="creation-info gray60-color">
                    <span class="date icon-clock">{{ formatHelper.formatDate(question.createdAt) }}</span>,
                    {% if question.user %}
                        <span class="user-name link js-popup-opener clickable"
                              data-popup="#user-info"
                              data-ajax-content="{{ path('MetalContentBundle:UserContentCategory:loadInfo', {'id' : question.user.id}) }}"
                        >
                            {{ question.user.fullName }}
                        </span>
                    {% else %}
                        <span class="user-name link">
                            {{ question.name }}
                        </span>
                    {% endif %}
                </div>
                <div class="categories gray60-color">
                    {% set category = question.category %}
                    {% set categorySecondary = question.categorySecondary %}
                    <span>Раздел: </span>
                    {%- if category.parent -%}
                        <a data-href="{{ path('MetalContentBundle:Questions:list', {'category_slug' : category.parent.slugCombined}) }}">{{- category.parent.title -}}</a> /
                    {%- endif %}
                    <a data-href="{{ path('MetalContentBundle:Questions:list', {'category_slug' : category.slugCombined}) }}">{{- category.title -}}</a>
                    {%- if categorySecondary and category.id != categorySecondary.id -%},
                        {% if categorySecondary.parent -%}
                            <a data-href="{{ path('MetalContentBundle:Questions:list', {'category_slug' : categorySecondary.parent.slugCombined}) }}">{{ categorySecondary.parent.title -}}</a> /
                        {%- endif %}
                        <a data-href="{{ path('MetalContentBundle:Questions:list', {'category_slug' : categorySecondary.slugCombined}) }}">{{- categorySecondary.title -}}</a>.
                    {%- else -%}
                        .
                    {%- endif -%}
                </div>
                <h1 class="product_main-title">
                    {{- question.title -}}
                </h1>
                {% if tags %}
                    <div class="tags icon-clip gray60-color">
                        <span>Метки: </span>
                        {% for tag in tags %}
                            <a href="{{ path('MetalContentBundle:Tag:view', {'id' : tag.id}) }}">{{ tag.title }}</a>{% if loop.last %}.{% else %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="information">
                    <p class="text">{{ textHelper.formatDescription(question.description)|raw }}</p>
                </div>
            </div>
        </div>

        <ul class="links clearfix">
            <li class="links_answer item width-141 float-left">
                <a class="button answer is-bordered green-bg js-popup-opener js-triggered ie-radius"
                        {% if app.user %}
                            data-popup="#add-comment"
                            data-comment-url="{{ path('MetalContentBundle:Comment:add', {'id' : question.contentEntryId}) }}"
                        {% else %}
                            data-popup="#stroy-login"
                        {% endif %}
                >
                    <span class="text">Ответить</span>
                    <span class="icon-back float-right"></span>
                </a>
            </li>
            <li class="share-links float-left">
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,lj"></div>
            </li>
        </ul>
        {{ brouzie_render_widget('MetalContentBundle:ContentTabs', {
            'content_entry' : question
        }) }}
    </div>
{% endblock inside_left %}

{% block inside_right %}
    {{ brouzie_render_widget('MetalContentBundle:ContentEntry', {'tags': tags, 'entry_type' : 'ENTRY_TYPE_TOPIC'}) }}
{% endblock inside_right %}








