{% extends '@MetalProject/layouts/_private_layout.html.twig' %}

{% block title topic.title~' / Техническая поддержка / '~titleSuffix %}

{% block content %}
    {% set formattingHelper = brouzie_helper('MetalProjectBundle:Formatting') %}
    {% set imagesHelper = brouzie_helper('MetalProjectBundle:Image') %}

    <div id="content" class="support-content private-room-content content-right outline-right float-right">
        <div class="private-scrollable content-scrollable js-scrollable">
            <div class="private-fix-width">
                <div class="support-admin-block clearfix">
                    <div class="back-to-list float-left">
                        <a class="link" href="{{ path("MetalPrivateOfficeBundle:Support:list") }}">Вернуться к списку всех заявок</a>
                    </div>
                    <div class="add-btn-wrapper float-right">
                        <span class="button green-bg ie-radius js-popup-opener ie-radius" data-popup="#add-support-request">Добавить заявку</span>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="support-wrapper clearfix">
                        <div class="left float-left">
                            <div class="support-title">
                                <h1 class="title">{{- topic.title -}}</h1>
                                <p class="creation-date">{{ formattingHelper.formatDate(topic.createdAt) }}, {{ topic.author.fullName }}</p>
                            </div>
                            <p class="text">{{ topic.description|nl2br }}</p>
                        </div>
                        <div class="user-photo float-right">
                            <div class="pattern-small">
                                {% set avatarUrl = imagesHelper.getAvatarUrl(topic.author, 'sq84') %}
                                {% if avatarUrl %}
                                    <img src="{{ avatarUrl }}" alt="{{ topic.author.fullName }}" title="{{ topic.author.fullName }}" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="manager-comment">
                        <div id="answers-container">
                            {% for answer in answers %}
                                {{ include('@MetalPrivateOffice/PrivateSupport/answer_in_answers.html.twig', {'answer': answer, 'imagesHelper': imagesHelper, 'formattingHelper': formattingHelper}, false) }}
                            {% endfor %}
                        </div>

                        <form class="add-comment form js-ajax-form-submit"
                              id="add-answer-form"
                              action="{{ path('MetalPrivateOfficeBundle:Support:addAnswer', { 'topic_id': topic.id }) }}"
                              method="post"
                              novalidate="novalidate">
                            <fieldset>
                                <div class="field-wrap helper-left-position">
                                    {{ form_widget(form.message, {'attr' : { 'class' : 'form-textarea ie-radius', 'placeholder' : 'Ваш комментарий' }}) }}
                                </div>
                                <div class="submit-wrapper float-right">
                                    <input type="submit" class="button blue-bg ie-radius" value="Отправить"/>
                                </div>
                            </fieldset>
                            {{ form_rest(form) }}
                        </form>
                        <script>
                            $(document).ready(function() {
                                $('#add-answer-form').bind('response.success', function(e, data) {
                                    $('#answers-container').append(data.answerHtml);
                                    $('#add-answer-form')[0].reset();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
