 {# imageHelper, product, productsHelper, productViewUrl, context #}

<li class="item outline clearfix">
    <div class="img is-bordered float-right">
        <div class="img-holder">
            <a class="img-link pattern-small" data-href="{{ productViewUrl }}">
                {% set imageUrl = imageHelper.getPhotoUrlForProduct(product, 'sq28', context) %}
                {% if imageUrl %}
                    <img src="{{ imageUrl }}" alt="{{ product.title }}" title="{{ product.title }}"/>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="links-wrapper float-right">
        <ul class="links clearfix">

            <li class="links_report item float-left clearfix">
                <span class="button report clickable is-bordered js-tooltip-opener js-popup-opener ie-radius"
                   data-tooltip-title="Пожаловаться"
                   data-popup="#complaint-product"
                   data-object-id="{{ product.id }}"
                   data-complaint-url="{{ path('MetalComplaintsBundle:Complaint:complaint', {'id' : product.id, 'kind' : 'product'}) }}">
                    <span class="icon-complaint"></span>
                </span>
            </li>

            <li class="item float-left {% if not is_granted('ROLE_USER') %}js-popup-opener{% endif %}"
                {% if not is_granted('ROLE_USER') %}data-popup="#login"{% endif %}>
                <span
                        class="button favorites small is-bordered ie-radius {% if is_granted('ROLE_USER') %}js-toggle-favorite{% endif %} {% if product.getAttribute('isInFavorite') %}g-hidden{% endif %}"
                        data-url="{{ path("MetalUsersBundle:Favorite:toggleFavorite", {'id' : product.id, 'object' : 'product'}) }}">
                    <span class="text"></span>
                    <span class="icon-favorite"></span>
                </span>
                <div
                        class="{% if is_granted('ROLE_USER') %}js-toggle-favorite{% endif %} {% if not product.getAttribute('isInFavorite') %}g-hidden{% endif %}"
                     data-url="{{ path("MetalUsersBundle:Favorite:toggleFavorite", {'id' : product.id, 'object' : 'product'}) }}">
                        <span class="button favorites active-link small ie-radius is-bordered js-togglable-block">
                            <span class="text"></span>
                            <span class="icon-favorite-active"></span>
                        </span>

                        <span class="button favorites small delete blue-bg g-hidden ie-radius js-togglable-block">
                            <span class="icon-favorite-del"></span>
                        </span>
                </div>
            </li>

            <li class="links_answer item width-182 float-left clearfix">
                <span class="primary button clickable send-button red-bg ie-radius"
                    popup-opener="#request-private-demand"
                    data-request-demand-url="{{ path('MetalDemandsBundle:Demand:save_private_form') }}"
                    data-demand-text="Заявка для компании {{ product.company.title }}"
                    data-product-text="{{ product.category ? product.category.title }} {{ productsHelper.getOptionsByProduct(product.getAttribute('attributes')) }}"
                    {% if city %}
                        data-product-city-id="{{ city.id }}"
                        data-city-text="{{ city.title }}"
                        data-city-id="{{ city.id }}"
                    {% endif %}
                    data-company-id="{{ product.company.id }}"
                    data-product-id="{{ product.id }}"
                    data-product-category-id="{{ product.category.id }}"
                        {% if not product.isContractPrice() %}
                            data-volume-type="{{ product.measureId }}"
                        {% endif %}
                        >Отправить заявку
                </span>
            </li>
        </ul>
    </div>

    <div class="left">
        <p class="title is-gradiented">
            <a class="product-link link"
               href="{{ productViewUrl }}"
               title="{{ product.title }}"
               ng-bind="'{{ product.title }}'"
                    >
                {{- product.title }}{% if product.size %}, {{ tokens.product_volume_title }} {{ product.getCutSize() }}{% endif -%}
            </a>
        </p>
        <div class="info">
            <div class="text clearfix">
                {% if product.size %}
                    <p class="size float-left" ng-bind="'{{ tokens.product_volume_title|capitalize }} {{ product.getCutSize()|escape('angular')|raw }},'"></p>
                {% endif %}
                <p class="price float-left">
                    {% if product.isContractPrice() %}
                        <span class="gray60-color">цена договорная</span>
                    {% else %}
                        {% if product.isPriceFrom %}от {% endif %}
                        <span class="strong red-color
                        {% if product.getAttribute('normalized_price') %}other-currency js-helper-opener{% endif %}"
                                data-text="примерно <span class='red-color'>
                        {{ product.getAttribute('normalized_price')|number_format_decimal }}
                        <span class='{{ currentCountry.currency.symbolClass }}'></span></span>"
                                >
                            {{ product.price|number_format_decimal }}
                            <span class="{{ product.currency.symbolClass }}"></span>
                            <span class="currency {% if product.currency.symbolClass %}g-hidden{% endif %}">{{ product.currency.token }}</span>
                        </span>
                        {% if product.measureId %} за {{ product.measure.tokenPrice }}{% endif %}
                    {% endif %}
                    <span class="is-gradiented"></span>
                </p>
                <span class="is-gradiented"></span>
            </div>
        </div>
    </div>
</li>
