{% set popupId = 'add-review' %}

<div id="{{ popupId }}"
     class="add-review-form popup-block opacity-border large" data-popup-template="#{{ popupId }}-template">
</div>
<script type="text/html" id="{{ popupId }}-template">
    <div class="popup-content">
        <div class="title-popup">Добавить отзыв</div>
        <span class="close-popup icon-popup-close clickable js-popup-closer"></span>

        <form id="{{ popupId }}-form"
              class="popup-form js-ajax-form-submit"
              method="post"
              novalidate="novalidate"
              data-success="close-popup"
              data-bind-attr="action:review-url">
            <fieldset>
                {% if form.name is defined %}
                    <div class="user-name-wrapper field-wrap">
                        {{ form_widget(form.name, {'attr' : { 'class' : 'form-text ie-radius', 'placeholder' : 'Имя' }} ) }}
                    </div>
                {% endif %}

                {% if form.email is defined %}
                    <div class="user-email-wrapper field-wrap">
                        {{ form_widget(form.email, {'attr' : { 'class' : 'form-email ie-radius', 'placeholder' : 'Электронная почта' }}
                        ) }}
                    </div>
                {% endif %}
                <div class="textarea-wrapper field-wrap">
                    {{ form_widget(form.comment, {'attr' : {'class' : 'form-textarea ie-radius', 'placeholder' : 'Ваш отзыв' }}
                    ) }}
                </div>
                <div class="toggle-block">
                    <ul class="links js-toggle-block clearfix">
                        {% set inputs = {} %}
                        {% for child in form.type %}
                            {% set inputs = inputs|merge([child]) %}
                        {% endfor %}

                        <li class="positive item float-left">
                            <label class="positive-button button clickable white-bg clearfix active ie-radius">
                                {{ form_widget(inputs[0], {'attr' : {'class' : 'not-styling js-toggle-button' }}) }}
                                <span class="text">Хорошо</span>
                                <span class="icon-positive float-right"></span>
                            </label>
                        </li>

                        <li class="negative item float-left">
                            <label class="negative-button button clickable white-bg clearfix ie-radius">
                                {{ form_widget(inputs[1], {'attr' : {'class' : 'not-styling js-toggle-button' }}) }}
                                <span class="text">Плохо</span>
                                <span class="icon-negative float-right"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="submit-wrapper">
                    <input class="popup-form_send-button send-button button blue-bg ie-radius" type="submit" value="Отправить"/>
                </div>
            </fieldset>
            {{ form_rest(form) }}
        </form>
    </div>
</script>
