{% extends 'MetalDemandsBundle::base_layout_demand.html.twig' %}

{# @var \Metal\DemandsBundle\Helper\DemandsListSeoHelper demandsListSeoHelper #}
{% set demandsListSeoHelper = brouzie_helper('MetalDemandsBundle:DemandsListSeo') %}

{# @var \Metal\ProjectBundle\Helper\SeoHelper seoHelper #}
{% set seoHelper = brouzie_helper('MetalProjectBundle:Seo') %}

{% block title demandsListSeoHelper.getMetaTitleForDemandsPage() %}

{% block meta_description demandsListSeoHelper.getMetaDescriptionForDemandsPage(demandsViewModel.count) %}

{% block meta %}
    {{ seoHelper.getAdditionalMetaTagsDomains()|raw }}
    {{ seoHelper.getMetaPagination(demandsViewModel.pagerfanta)|raw }}
    {{ seoHelper.getAdditionalMetaTagsDemandsForSearchResults()|raw }}
{% endblock meta %}

{% block canonical_url demandsListSeoHelper.getCanonicalUrlForDemands() %}

{% block find_provider '' %}

{% block callback %}
    {% set displayCallbackBlock = true %}
    {% set targetObject = 'demand' %}
    {% set callbackFormFrom = 'demands-list' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {% if currentCategory %}
        {{ parent() }}
    {% else %}
        <div class="breadcrumbs-wrapper">
            <div class="breadcrumbs empty-breadcrumbs outline clearfix">
                {{ brouzie_render_widget('MetalDemandsBundle:Counting', {'territory' : currentTerritory}) }}
            </div>
        </div>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% set route = app.request.attributes.get('_route') %}
    {% set routeParameters = app.request.attributes.get('_route_params') %}
    {% set routeParameters = routeParameters|merge(app.request.query.all()) %}
    {% set routeParameters = routeParameters|merge({'page' : null}) %}
    {% set attributesCollection = app.request.attributes.get('attributes_collection') %}
    <div id="content" class="content-right outline-right float-right">
        <div class="main-title d-title" ng-controller="Metal.CitiesWidgetPopoverOpener as citiesWidgetPopoverOpenerController">
            <h1 class="product-title" ng-include="'alternative-header'">
                {{- demandsListSeoHelper.getHeadTitleForDemandsPage() -}}
            </h1>

            <script type="text/ng-template" id="alternative-header">
                {{ category ? category.getTitle() : 'Последние добавленные заявки' }}
                {% for attribute, attributeValues in attributesCollection %}
                    {% for attributeValue in attributeValues %}
                        <span class="accepted-filter ie-radius">{{ attributeValue.value }}
                            <a href="{{ path(route, routeParameters|merge({'category_slug': currentCategory.getUrl(attributesCollection.getUrl(null, attributeValue))})) }}" class="icon-filter-del"></a>
                        </span>
                    {% endfor %}
                {% endfor %}

                <span class="region-link link clickable icon-check js-popover-opener" data-popover="#cities"
                      ng-click='citiesWidgetPopoverOpenerController.loadPopover("cities")'
                      data-different-position="true">
                    в {{ currentTerritory.getTitleLocative() -}}
                </span>
                — заявки<sup>&nbsp;{{ demandsViewModel.count ? demandsViewModel.count|number_format_decimal : '' -}}</sup>
            </script>
        </div>
        {% block tabs %}
            <div class="result-tabs-wrapper demand-tabs outline-right clearfix">
                <ul class="sort-period list float-left">
                    <li class="item float-left">
                        {{ include('@MetalDemands/Demands/partial/period_filter.html.twig', {
                            'demandsCountByPeriod': demandsCountByPeriod,
                            'route': route,
                            'routeParameters': routeParameters,
                        }, false) }}
                    </li>

                    <li class="item float-left">
                        {{ include('@MetalProject/partials/datepicker_range.html.twig', {'dateFrom': criteria.dateFrom, 'dateTo': criteria.dateTo}, false) }}
                    </li>
                </ul>
                <div class="sort-view float-right clearfix">
                    <div class="order-block float-left">
                        {% set order = app.request.query.get('order') %}
                        <span class="order-link icon-check black clickable link js-popover-opener" data-popover="#order">{% if order == 'popularity' %}По популярности{% else %}По дате{% endif %}</span>
                        <div id="order" class="drop-wrapper order-list opacity-border">
                            <ul class="dropdown">
                                {% if order == 'popularity' %}
                                    <li class="drop-item">
                                        <a class="drop-link" data-href="{{ path(app.request.attributes.get('_route'), routeParameters|merge({ order : null})) }}">По дате</a>
                                    </li>
                                    <li class="drop-item">
                                        <span class="drop-link current">По популярности</span>
                                    </li>
                                {% else %}
                                    <li class="drop-item">
                                        <span class="drop-link current">По дате</span>
                                    </li>
                                    <li class="drop-item">
                                        <a class="drop-link" data-href="{{ path(app.request.attributes.get('_route'), routeParameters|merge({ order : 'popularity'})) }}">По популярности</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div id="demand" class="view-category demands js-calc-height">
            <ul class="demands list" data-replacement-zone="page.demands_list" data-replacement-callback="scrollToElement">
                {{ include('MetalDemandsBundle:partials:demands_list.html.twig', {
                    'pagerfanta' : demandsViewModel.pagerfanta,
                    'category' : currentCategory,
                    'options': {'include_banners': true},
                }, false) }}
            </ul>
        </div>

        {% if currentCategory %}
            <div class="search-info-block outline-right clearfix js-sibling-calculated-block">
                <div class="block-title">Нужны потребители?</div>
                <div class="search-info-list">
                    <ul class="items">
                        <li class="item icon-lamp">
                            <a data-href="{{ brouzie_helper('MetalProjectBundle:Url').getRegisterAndAddProductsUrl() }}" href="{{ path('MetalUsersBundle:Registration:register') }}" rel="nofollow">Загрузите</a> ваши товары на сайт.
                        </li>
                        {#<li class="item"><a href="#">Подпишитесь</a> на эту страницу, мы пришлем вам письмо, как только здесь появятся потребности.</li>#}
                    </ul>
                </div>


                <div class="more-columns clearfix">
                    {{ brouzie_render_widget('MetalDemandsBundle:BreadcrumbsBlock', {
                        'category' : currentCategory,
                        'route_name' : 'MetalProductsBundle:Products:list_category_subdomain',
                        'territory' : currentTerritory
                    }) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_popups %}
    {% set routeTypeForHeader = 'demands_list' %}
    {% set loadingRoute = 'MetalDemandsBundle:Api:territorial' %}
    {% set counterName = 'demands_count' %}

    {% set filterParameters = {
    'periodicity' : app.request.query.get('periodicity'),
    'consumers' : app.request.query.get('consumers'),
    'wholesale' : app.request.query.get('wholesale')
    } %}

    {{ parent() }}

    {{ brouzie_render_widget('MetalPrivateOfficeBundle:CompletePackage', {'text': 'Полный пакет даёт возможность экспортировать заявки и многое другое.'}) }}

    {% set citiesWidgetOptions = {
    'counter_name' : 'demands_count',
    'loading_route' : 'MetalDemandsBundle:Api:territorial',
    'route_type' : 'demands_list'
    }%}

    {% if category %}
        {% set citiesWidgetOptions = citiesWidgetOptions|merge({
        'category_slug' : category.getSlugCombined(),
        'category' : category
        }) %}
    {% endif %}

    {{ brouzie_render_widget('MetalTerritorialBundle:Cities', citiesWidgetOptions|merge({'filter_parameters': filterParameters})) }}

    {% set sidebarCitiesWidgetOptions = citiesWidgetOptions|merge({'id' : 'sidebar-cities'}) %}
    {{ brouzie_render_widget('MetalTerritorialBundle:Cities', sidebarCitiesWidgetOptions) }}
{% endblock %}

{% block sidebar %}
    {{ brouzie_render_widget('MetalDemandsBundle:DemandSidebar', {'demands_count' : demandsCountByPeriod['demands_count_total']}) }}
{% endblock %}

{% block head_banner %}
    <div class="head-announcements-wrapper">
        <div class="head-announcements clearfix">
            <div class="left-announcement-wrapper">
                {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'head-side-1', 'category_id' : categoryForSearch|default(currentCategory) ? categoryForSearch|default(currentCategory).id : null}) }}
            </div>
            <div class="right-announcement-wrapper">
                {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'head-side-2', 'category_id' : categoryForSearch|default(currentCategory) ? categoryForSearch|default(currentCategory).id : null}) }}
            </div>
            <div class="wrap ">
                <div class="center-announcement table-container">
                    <div class="head-banner table-cell">
                        {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'head-center', 'category_id' : categoryForSearch|default(currentCategory) ? categoryForSearch|default(currentCategory).id : null}) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock head_banner %}

{% block banner %}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'premium', 'category_id' : category ? category.id : null, 'additional_class' : 'premium-announcement'}) }}
{% endblock %}

{% block side_announcement_left %}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'left-sidebar', 'category_id' : category ? category.id : null, 'additional_class' : 'left-announcement'}) }}
{% endblock %}

{% block background_announcement %}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'background', 'category_id' : category ? category.id : null}) }}
{% endblock %}

{% block side_announcements_right %}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'right-sidebar-1', 'category_id' : category ? category.id : null, 'additional_class' : 'right-announcement top-announcement'}) }}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'right-sidebar-2', 'category_id' : category ? category.id : null, 'additional_class' : 'right-announcement'}) }}
    {{ brouzie_render_widget('MetalAnnouncementsBundle:AnnounceFrame', {'source_type_slug' : 'demands-list', 'zone_slug' : 'right-sidebar-3', 'category_id' : category ? category.id : null, 'additional_class' : 'right-announcement'}) }}
{% endblock %}
