{% extends '@MetalProject/layouts/_private_layout.html.twig' %}

{% block title 'Компания / Управление информацией / '~titleSuffix %}

{% block content %}
    <div id="content" class="private-room-content content-right outline-right float-right">
        <div class="private-scrollable content-scrollable js-scrollable">
            <div class="private-fix-width">
                {{ block('tabs') }}
                <div class="management-content-wrapper clearfix">
                    {{ form_start(form, {
                    'action' : path('MetalPrivateOfficeBundle:CompanyCreation:createCompany'),
                    'attr': {
                        'id': 'registration-form',
                        'data-success': 'redirect',
                        'class' : 'register-form js-ajax-form-submit form float-left',
                        'novalidate': 'novalidate'
                    }
                    }) }}
                    <fieldset class="left-group">
                        <div class="group clearfix">
                            <div class="user-company-wrapper field-wrap float-left">
                                {{ form_widget(form.companyTitle, {'attr' : {'class' : 'register-company form-text ie-radius', 'placeholder': 'Компания', 'separator' : ''}}) }}
                                {{ form_widget(form.company, {'attr' : {'class' : 'g-hidden js-selected-company-id'} }) }}
                            </div>
                            <div class="company-type-wrapper field-wrap float-left">
                                {{ form_widget(form.companyType, {'attr' : {'class' : 'form-select hight', 'separator' : '', 'name' : 'company-type'}}) }}
                            </div>
                        </div>
                        <div class="group clearfix">
                            <div class="field-wrap float-left">
                                {{ form_widget(form.cityTitle, {
                                'attr' : {
                                    'class' : 'form-text ie-radius',
                                    'placeholder' : 'Город',
                                    'typeahead' : '',
                                    'typeahead-loading' : 'typeaheadLoading',
                                    'typeahead-prefetch-url': path('MetalTerritorialBundle:Suggest:getCitiesForCountry'),
                                    'typeahead-suggestion-template-url': "'typeahead-suggestion-with-parent'",
                                    'typeahead-model' : 'city'
                                }
                                }) }}
                                {{ form_widget(form.city, {'attr' : {
                                    'class' : 'g-hidden',
                                    'ng-model' : 'city.id',
                                    'initial-value' : ''
                                } }) }}
                                <div class="loading-mask embed-mask for-high-input" ng-show="typeaheadLoading">
                                    <div class="spinner"></div>
                                </div>
                            </div>
                            <div class="field-wrap float-left">
                                {{ form_widget(form.phone, {'attr' : {'class' : 'user-phone phone form-text ie-radius', 'placeholder' : 'Телефон'}} ) }}
                            </div>
                        </div>
                    </fieldset>
                    {{ form_widget(form.checkDuplication, {'attr' : {'class' : 'g-hidden js-check-duplication'}} ) }}
                    <div class="submit-wrapper">
                        <input type="submit" class="save-btn button blue-bg ie-radius" value="Сохранить"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#registration-form').bind('response.error', function(e, data) {
                if (data.html) {
                    $('#company-registration-error-popup').html(data.html);

                    $('#company-registration-error-popup .js-scrollable').scrollbar({
                        type: 'simple',
                        disableBodyScroll: true
                    });

                    Brouzie.Popups.openPopup($('#company-registration-error-popup .popup-block'));
                }
            });

            $('body').delegate('.js-register-new', 'click', function(event) {
                event.preventDefault();

                $('.js-check-duplication').val(0);
                $('.save-btn').click();
            });

            $('body').delegate('.js-choice-comp', 'click', function(event) {
                event.preventDefault();
                var $el = $(event.currentTarget);

                $('.js-check-duplication').val(0);
                $('.js-selected-company-id').val($el.data('id'));
                $('.register-button').click();
            });
        });
    </script>
{% endblock content %}

{% block additional_popups %}
    {{ parent() }}

    <div id="company-registration-error-popup"></div>
{% endblock %}
