{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Успейте подключить доступ к Product.ru по старым ценам в августе!{% endblock subject %}

{% block body_text -%}
Уважаемые Господа,

До 31.08.2016г. Вы можете подключиться к порталу на прежних условиях.
Со следующего месяца наши расценки повышаются.

До 31.08.2016 года стоимость подключения к Product.ru составляет:

Расширенный доступ:
1 год = 14 000
6 мес. = 8 000 руб.
3 мес. = 4 500 руб.

Полный доступ:
1 год = 18 000 руб.
6 мес. = 10 000 руб.
3 мес. = 6 000 руб.

Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:
http://corp.product.ru/services/

По любым вопросам пишите:
http://corp.product.ru/contacts
или звоните:
+7 495 268-02-85


С уважением,
{{ country.domainTitle }}
http://www.{{ country.baseHost }}

{{ block('text_footer') }}
{%- endblock body_text %}

{% block text_part_body %}
    <p style="font-size: 12;">
        Уважаемые Господа,
        <br/>
        <br/>

        До 31.08.2016г. Вы можете подключиться к порталу на прежних условиях.
        Со следующего месяца наши расценки повышаются.<br/><br/>

        До 31.08.2016 года стоимость подключения к Product.ru составляет:<br/><br/>

        Расширенный доступ:<br/>
        1 год = 14 000 руб.<br/>
        6 мес. = 8 000 руб.<br/>
        3 мес. = 4 500 руб.<br/><br/>

        Полный доступ:<br/>
        1 год = 18 000 руб.<br/>
        6 мес. = 10 000 руб.<br/>
        3 мес. = 6 000 руб.<br/><br/>

        Расценки и перечень услуг по подключению Полного и Расширенного доступа можно уточнить на портале:<br/>
        <a href="http://corp.product.ru/services/">corp.product.ru/services/</a>

        <br/><br/>
        По любым вопросам пишите - <a href="http://corp.product.ru/contacts">corp.product.ru/contacts</a>

        или звоните:

        +7 495 268-02-85

        <br /><br />
        С уважением,
        <a href="http://www.{{ country.baseHost }}">{{ country.domainTitle }}</a>
    </p>
{% endblock text_part_body %}
